.btn {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  backface-visibility: hidden;
  background-color: #2e72b0;
  border-radius: 13px;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset, rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  height: 71px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 21px 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all 0.2s, box-shadow 0.08s ease-in;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 305px;
  font-size: 30px;
  font-weight: 600;
  justify-content: center;
  display: flex;
  gap: 8px;
  align-items: center;
}

.btn:disabled {
  cursor: default;
}

.btn:focus {
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset, rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0, rgba(50, 151, 211, 0.3) 0 0 0 4px;
}

@media (max-width: 1439.98px) {
  .btn {
    width: 218px;
    height: 50px;
    font-size: 24px;
  }
}
@media (max-width: 833.98px) {
  .btn {
    width: 130px;
    height: 40px;
    font-size: 14px;
  }
}
@media (max-width: 389.98px) {
  .btn {
    width: 218px;
    height: 50px;
    font-size: 24px;
  }
}