.header {
    display: flex;
    justify-content: center;
    background: url('/public/assets/img/header-bg.jpg');
    background-repeat: no-repeat center top;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    padding: 34px 40px;
    margin-bottom: 206px;

}

.logo { 
    display: block;
    position: absolute;
    top: 391px;
    left: 328px;
    width: 1264px;
    height: 403px;
}