.about {

    background: #244563;
    border-radius: 22.2322px;
    display: flex;
    justify-content: space-between;
    padding: 48px 175px;
}

.aboutInfo {
    text-align: left;

}

.infoText {
    margin-bottom: 40px;

    h2 {
        font-weight: 700;
        font-size: 64px;
        line-height: 87px;
        color: #F8F8F8;
    }

    p {
        font-weight: 500;
        font-size: 28px;
        line-height: 38px;
        color: #EFEFEF;
        margin-bottom: 10px;
        width: 795px;
    }
}

.aboutReviews {
    .img {
        width: 660px;
        height: 569px;
        border-radius: 12px;
    }
}



.reviewsWrapper {
    position: relative;
    top: 565px;
    left: -265px;
    display: inline-flex;
    transform: rotate(15deg);
    padding: 13px 64px 23px 22px;
    align-items: center;
    border-radius: 11.974px;
    background: #FFF;

}

.reviews {
    display: flex;
    width: 205px;
    flex-direction: column;
    align-items: flex-start;
    gap: 3.003px;
    text-align: left;

    h4 {
        margin-bottom: -20px;
        font-size: 16.516px;
        font-weight: 700;
        line-height: 22.521px;
    }

    p {

        font-size: 16.516px;
        font-weight: 400;
        line-height: 22.521px;
    }

    img {
        transform: rotate(-10.319deg);
        margin-bottom: -20px;
    }
}

.country {
    display: flex;
    align-items: center;

    img {
        width: 48px;
        height: 48px;
        margin-right: 24px;
    }

    p {
        font-weight: 600;
        font-size: 20px;
        line-height: 22px;
        color: #C6CFD6;
        width: 415px;
        height: 55px;
    }
}