.about {
    width: 100vw;
    background: #244563;
    border-radius: 22.2322px;
    display: flex;
    justify-content: space-between;
    padding: 48px 175px;
}

.aboutInfo {
    text-align: left;
}

.infoText {
    margin-bottom: 40px;
}

.title {
    font-weight: 700;
    font-size: 64px;
    line-height: 87px;
    color: #F8F8F8;

}

.text {
    font-weight: 500;
    font-size: 28px;
    line-height: 38px;
    color: #EFEFEF;
    margin-bottom: 10px;
    width: 795px;
}

.img {
    width: 743.88px;
    height: 593.25px;
}

.country {
    display: flex;
    align-items: center;
}

.flag {
    width: 48px;
    height: 48px;
    margin-right: 24px;
}

.countryText {
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    color: #C6CFD6;
    width: 415px;
    height: 55px;
}