.Footer {
	background-color: #2a2b2b;
	color: #f8f8f8;
	margin-top: 200px;
	border-radius: 27px 27px 0px 0px;
}
a {
	text-decoration: none;
	color: #f8f8f8;
}
a:hover {
	text-decoration: underline;
}
.footerBox {
	padding: 20px;
	max-width: 1650px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	column-gap: 15px;
	row-gap: 50px;
	text-align: start;
}
.socialBox {
	max-width: 230px;
}
.socialsItem {
}
.boxTitle {
	font-size: 42px;
	font-weight: 600;
	line-height: 51px;
	font-family: Inter, sans-serif;
}
.boxItems {
	display: flex;
	flex-direction: column;
	gap: 30px;
}
.title {
	margin-bottom: 60px;
}

.boxSocials {
	display: flex;
	gap: 20px;
	max-width: 257px;
}
.navigationBox {
	max-width: 340px;
}
.navigationItem {
}
.jobBox {
}
.jobItem {
	display: flex;
	align-items: center;
	gap: 10px;
}
.item {
	font-weight: 500;
	font-size: 28px;
	font-weight: 500;
	line-height: 38px;
}
.contactsBox {
	max-width: 380px;
}
.contactsItem {
	display: flex;
	align-items: center;
	gap: 10px;
}
.contactsItemImg {
}
.contactsItemText {
}

.container {
	padding: 0 15x;
}
.flag {
}

// @media (max-width: 1439.98px) {
// 	.container {
// 		max-width: 1320px;
// 	}
// 	.Footer {
// 		margin-top: 150px;
// 	}
// 	.socialBox {
// 		max-width: 175px;
// 	}
// 	.boxTitle {
// 		font-size: 32px;
// 		line-height: 38px;
// 	}
// 	.item {
// 		font-size: 20px;
// 		line-height: 30px;
// 	}
// 	.socialsLogo img {
// 		width: 170px;
// 	}
// 	.socialsItem {
// 		width: 45px;
// 	}
// 	.footerBox {
// 		padding: 30px 60px;
// 	}
// 	.title {
// 		margin-bottom: 45px;
// 	}
// 	.boxItems {
// 		gap: 20px;
// 	}
// }

// @media (max-width: 833.98px) {
// 	.container {
// 		max-width: 795px;
// 	}
// 	.Footer {
// 		margin-top: 70px;
// 	}
// 	.socialsLogo img {
// 		width: 100px;
// 	}
// 	.socialsItem {
// 		width: 25px;
// 	}
// 	.boxTitle {
// 		font-size: 20px;
// 		line-height: 24px;
// 	}
// 	.footerBox {
// 		padding: 30px 60px;
// 		flex-wrap: wrap;
// 	}
// 	.title {
// 		margin-bottom: 25px;
// 	}
// 	.boxItems {
// 		gap: 10px;
// 	}
// }
// @media (max-width: 389.98px) {
// 	.container {
// 		max-width: 350px;
// 		margin: auto;
// 		padding: 0;
// 	}
// 	.socialsLogo img {
// 		width: 170px;
// 	}
// 	.socialsItem {
// 		width: 45px;
// 	}
// 	.Footer {
// 		margin-top: 65px;
// 	}
// 	.boxTitle {
// 		font-size: 32px;
// 		line-height: 38px;
// 	}
// 	.item {
// 		font-size: 22px;
// 		line-height: 30px;
// 	}
// 	.footerBox {
// 		padding: 20px 40px;
// 	}
// 	.title {
// 		margin-bottom: 45px;
// 	}
// 	.boxItems {
// 		gap: 20px;
// 	}
// }
